@{
    ViewData["Title"] = "Home Page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            About this website
        </h1>

        <p class="govuk-body">
            This website was made by
            <a href="mailto:jamesgriff@jamesgriff.co.uk"
               class="govuk-link">
                James Griffiths
            </a>
        </p>

        <img src="assets/images/james-griffiths-headshot.jpg"
             alt="Photo of James Griffiths"
             class="govuk-!-margin-bottom-4"
             style="width: 200px; height: 200px; border-radius: 50%;" />

        <p class="govuk-body">
            The code is open source and available on
            <a href="https://github.com/jamesgriff/mothers-day-service"
               class="govuk-link">
                GitHub
            </a>
        </p>

        <p class="govuk-body-s govuk-!-margin-top-9">
            This website was developed in James' free time
            and is hosted on his own personal Azure account
            (so it hasn't cost any tax-payer money)
        </p>

    </div>
</div>

