@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model DoYouHaveAChildViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section BeforeMain
{
    @Html.GovUkBackLink(
        new BackLinkViewModel
        {
            Href = Url.Action("Index", "Home"),
            OverrideWithJavascript = true
        })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="post" action="@Url.Action("DoYouHaveAChildQuestionPost", "Home")">
            
            @(Html.GovUkErrorSummary())

            @(Html.GovUkRadiosFor(
                m => m.DoYouHaveAChild,
                new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Do you have a child?",
                        IsPageHeading = true,
                        Classes = "govuk-fieldset__legend--xl"
                    }
                }
                ))
            
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

