@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model DoYouHaveAChildViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section BeforeMain
{
    @Html.GovUkBackLink(
        new BackLinkViewModel
        {
            OverrideWithJavascript = true
        })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            You're not eligible to use this service
        </h1>

        <p class="govuk-body">
            This service is only for:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>mothers</li>
            <li>whose children left it too late to send them a Mother's Day card</li>
        </ul>

    </div>
</div>

